<nav class="navbar bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="add-address" routerLinkActive="active "
          >Add Address</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list-address" routerLinkActive="active">
          Address List</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="address-details" routerLinkActive="active"
          >Address Details</a
        >
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="update-address" routerLinkActive="active"
          >Update Address</a
        >
      </li>
    </ul>
  </nav>
    <div class="container">
    <router-outlet></router-outlet>
  </div>
  