<div>
  <h1 class="text-center text-info">About Us</h1>
</div>
<div class="row jumbotron text-center text-info d-flex justify-content-center">
  <h2>Great Outdoor &mdash; The perfect Outdoor Equipment Store</h2>
  <p>
    We are Great Outdoor.We dedicate our services and products to the adventure
    lovers all aound the globe.<br />
    Adventure gear, We got it all.
  </p>
</div>
<div class="row text-info">
  <div class="col heroes">
    <i class="im im-globe icon-big"></i>
    <h3>Global Shipping</h3>
    <p>
      We ship all around the globe and we ensure express delivery. Any product
      purchased will be ensured to reach you within 5 business days.
    </p>
  </div>
  <div class="col heroes">
    <i class="im im-truck icon-big"></i>
    <h3>No Minimum Order</h3>
    <p>
      Whether you purchase a product of 10$ or 100$. No Shipping charges will be
      added as we value our customers more than shipping costs.
    </p>
  </div>
  <div class="w-100"></div>
  <div class="col heroes">
    <i class="im im-store icon-big"></i>
    <h3>Wide Variety</h3>
    <p>
      We provide a wide range of products related to
      trekking,hiking,mountaineering and golf.We also provide custom made
      products.
    </p>
  </div>

  <div class="col heroes">
    <i class="im im-history icon-big"></i>
    <h3>Refund and Returns</h3>
    <p>
      Any product purchased is eligible for refund for a period of one month
      after the purchase date on the condition that the product is not damaged.
      Any refund or return request violating the above policy shall not be
      entertained.
    </p>
  </div>
</div>
