<div class="bg-info">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active text-light font-weight-bolder" href="#"
        >Great Outdoor</a
      >
    </li>
    <li class="nav-item active">
      <a
        routerLink="home"
        routerLinkActive="active"
        class="nav-link active text-light"
        >Home</a
      >
    </li>
    <li class="nav-item active">
      <a
        routerLink="about"
        routerLinkActive="active"
        class="nav-link active text-light"
        >About</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="service"
        routerLinkActive="active"
        class="nav-link active text-light"
        >Services</a
      >
    </li>

    <li class="nav-item active">
      <a
        routerLink="contact"
        routerLinkActive="active"
        class="nav-link active text-light"
        >Contact</a
      >
    </li>
    <li class="nav-item active">
      <a
        routerLink="product-home"
        routerLinkActive="active"
        class="nav-link active text-light nav-item dropdown"
      >
        Product</a
      >
    </li>
    <li class="nav-item active">
      <a
        routerLink="category-home"
        routerLinkActive="active"
        class="nav-link active text-light nav-item dropdown"
      >
        Category</a
      >
    </li>
    <li class="nav-item active">
      <a
        routerLink="address-home"
        routerLinkActive="active"
        class="nav-link active text-light nav-item dropdown"
      >
        Address</a
      >
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
