       <div class="row-full ">
       <header>
             <div class="hero-text-box text-center">
                <h1 class="hero"><b>Great Outdoors Store</b><br></h1>
                <h1 class="hero"><b>Everything related to your favourite adventure sports is here</b></h1>  
            </div>
       </header>
        <section class="section-products">
                <h2 class="text-center text-info">Products</h2>
                <div class="d-flex justify-content-center">
            <ul class="products-showcase">
                <li>
                    <figure class="product-photo">
                        <img src="assets/images/bg3.jpg" alt="golf">
                    </figure>
                </li>
                
                <li>
                    <figure class="product-photo">
                        <img src="assets/images/bg5.jpg" alt="camping">
                    </figure>
                    
                </li> 
                <li>
                    <figure class="product-photo">
                        <img src="assets/images/bg4.jpg" alt="mountaineering">
                    </figure>
                    
                </li> 
                <li>
                    <figure class="product-photo">
                        <img src="assets/images/bg7.jpg" alt="security gear">
                    </figure>
                    
                </li>
                 <li>
                    <figure class="product-photo">
                        <img src="assets/images/bg9.jpg" alt="personalized gear">
                    </figure>
                    
                </li>
            </ul>
            </div>
        </section>
        
        
        <section class="section-reviews">
              <h3 class="text-center text-info">What Our Customers Feel About Us</h3><br>
            <div class="row">
              
            </div>
            
            <div class="row">
                <div class="col span-1-of-3">
                    <blockquote>
                        Great Outdoors is an awesome store that features a variety of equipments.The customer service is excellent and the products they sell are of high quality.
                        <cite>
                           <img src="assets/images/Robert%20R%20Walker.jpg"> Robert R Walker
                        </cite>
                    </blockquote>
                    
                </div>
                 <div class="col span-1-of-3">
                    <blockquote>
                        I purchased mittens for tekking and got it delivered in 2 days.Seems like Great Outdoors was the right choice.
                        <cite>
                           <img src="assets/images/Victoria%20W%20kelly.jpg">Victoria W Kelly
                        </cite>
                    </blockquote>
                    
                </div>
                 <div class="col span-1-of-3">
                    <blockquote>
                       Great Outdoors is the best adventure sports goods store that provides high quality products at reasonable charges.
                        <cite>
                           <img src="assets/images/David%20T%20Nunes.jpg"> David T Nunes
                        </cite>
                    </blockquote>
                    
                </div>
            </div>
            
        </section>
        </div>